.WPCC_group {
    position: relative;
    margin: 15px auto;
    padding-bottom: 20px;
    max-width: 95%;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

.WPCC_group .title{
    /*background: #0079b8;*/
    color: #2271b1;
    font-size: 1.3em;
    margin: 15px 0 5px 0;
    font-weight: bold;
    /*padding: 8px 15px;*/
    /*color: white;*/
    position: relative;
}

.WPCC_group_item {

}

.WPCC_group_content {
    /*padding: 5px;*/
    background: white;
}

.WPCC_group_content .column {
    float: none;
    width: 100%;
}

.WPCC_group_content .column2 {
    float: left;
    width: 50%;
}

.WPCC_group_content .column3 {
    float: left;
    width: 33%;
}

.WPCC_group_content:after {
    content: "";
    display: table;
    clear: both;
}

.WPCC_group .WPCC_card {
    padding: 10px;
    text-align: left;
    max-width: inherit;
    position: relative;
    /*border: none;*/
    background: #f9f9f9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #f4f4f4;
    margin: 10px 10px 5px 0;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .WPCC_group_content .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .WPCC_group_content .column2 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .WPCC_group_content .column3 {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .WPCC_group .card{
        margin: 0;
        padding: 3px;
    }
}

.WPCC_group .form-group {
    position: relative;
    margin: 5px;
    /*background: white;*/
    padding: 3px 8px;
    /*border-left: solid 2px rgba(0, 115, 170, 0.56);*/
}
.WPCC_group .chosen-container {
    display: block;
}

.WPCC_group label {
    color: #1e1e1e;
    font-size: 1em;
    padding-bottom: 15px;
    font-weight: bold;
}

.WPCC_group .link{
    font-size: 14px;
    margin: 5px 10px;
    cursor: pointer;
}
.WPCC_group .link-default{
    color: #0073aa;
}
.WPCC_group .link-default:hover{
    color: #00405f;
}
.WPCC_group .link-danger{
    color: #e70000;
}
.WPCC_group .link-danger:hover{
    color: #850000;
}

.WPCC_group .form-control{
    margin: 3px 0 5px 0;
    width: 100%;
    border-color: #cacaca;
}
.WPCC_group .dashicons-before::before{
    height: auto!important;
    width: auto!important;
    color: white!important;
}

/* REPEATER */
.WPCC_repeater_add {
    margin: 15px auto 5px 0;
    position: relative;
    /*bottom: 6px;
    right: 15px;*/
    z-index: 999;
    background: #43687b;
    /*border: solid 1px #009a20;*/
    padding: 5px;
    color: white;
    max-width: 200px;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.WPCC_repeater_add:hover{
    background: #5c8399;
}

.WPCC_repeater_add .dashicons-before::before{
    font-size: 18px;
}

.WPCC_repeater_delete{
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #1e1e1e;
}

.WPCC_repeater_delete .dashicons-before::before{
    font-size: 20px;
}

.WPCC_repeater_delete .repeater_delete{
    cursor: pointer;
    color: white;
}

.WPCC_repeater_delete:hover{
    background: #a70000;
}

/* repeater for fields */
/*.form-group .WPCC_repeater{
    position: absolute;
    bottom: -15px;
    right: 20px;
    z-index: 999;
}*/

/*.form-group .WPCC_repeater .dashicons-before::before{
    font-size: 20px;
}*/

.form-group .WPCC_repeater_delete{
    position: absolute;
    top: 53%;
    left: inherit;
    right: -15px;
}
.form-group .WPCC_repeater_delete .dashicons-before::before{
    font-size: 17px;
}


/* FIELDS */

/* Field editor */
.WPCC_Field_Editor {
    margin: 5px 0;
}

.WPCC_Debug_Msg{
    color: red;
    font-size: 10px;
}

.WPCC_Field_Editor textarea {
    width: 100%;
    margin: -1px 0;
}

.WPCC_group .mce-fullscreen {
    z-index: 9999 !important;
}


/* Field select */
.WPCC_Field_Select select{
    width: 100%;
}



/* CHECKBOX */
.WPCC_Field_Checkbox{
    margin-bottom: 20px;
}

.WPCC_Field_Checkbox label{
    padding: 0;
}

.WPCC_Field_Checkbox .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    box-sizing: border-box!important;
    margin: 10px 20px;
}

.WPCC_Field_Checkbox .switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.WPCC_Field_Checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.WPCC_Field_Checkbox .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.WPCC_Field_Checkbox input:checked + .slider {
    background-color: #00c155;
}

.WPCC_Field_Checkbox input:focus + .slider {
    box-shadow: 0 0 1px #00c155;
}

.WPCC_Field_Checkbox input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

.WPCC_Field_Checkbox .slider.round {
    border-radius: 34px;
}

.WPCC_Field_Checkbox .slider.round:before {
    border-radius: 50%;
}

/* Media field */
.WPCC_Field_Media {
    background: #f1f1f1;
    background-image: url('../img/transparency.png');
    background-repeat: repeat;
    background-size: 100px;
    text-align: center;
    margin-bottom: 10px;
    display: block;
    border: solid 1px #ebebeb;
}

.WPCC_Field_Media img {
    max-width: 100%;
    max-height: 150px;
}

.WPCC_Field_Media video {
    max-width: 100%;
    max-height: 120px;
    margin: 10px auto;
}

.WPCC_Field_Media .preview_file{
    margin-bottom: 5px;
}

.WPCC_Field_Media .preview_file a{
    font-size: 15px;
    color: #007cff;
}

.WPCC_Field_Media .btn-media {
    padding: 5px;
    background: #ffffff;
}

/* OPTIONS PAGES */
.WPCC_Option_page {
    /*max-width: 1000px;*/
    background: white;
    padding: 10px 20px;
    margin: 20px;
}

.WPCC_Option_page .buttonSave{
    margin: 20px;
}

.WPCC_Option_page_title {
    font-size: 1.7em;
    border-bottom: solid 1px #f0f0f0;
    padding-bottom: 1em;
}

/*Picker override*/
.WPCC_color_picker .pcr-button{
    border: solid 1px #e2e2e2;
}

.WPCC_color_picker .pickr .pcr-button{
    width: 100%;
}

/* autocomplete */
.WPCC_field_autocomplete {
    width: 100% !important;
}
